/*所有的字体在这里集合*/
.van-icon {
    font-family: 'vant-icon', 'custom-userCenter','custom-sweep','custom-password','custom-money','custom-afterSale' !important;
}
/*自定义字体文件（扫码）*/
@font-face {
    font-family: 'custom-sweep';
    src: url('../../fonts/custom/sweep/iconfont.ttf') format('truetype');
}

/*.van-icon {*/
    /*font-family: 'vant-icon', 'custom-sweep' !important;*/
/*}*/

.van-icon-sweep:before {
    content: '\e601';
}

.van-icon-sweep {
    margin-top: -2px;
}

/*自定义字体文件（密码）*/

@font-face {
    font-family: 'custom-password';
    src: url('../../fonts/custom/password/iconfont.ttf') format('truetype');
}

/*.van-icon {*/
    /*font-family: 'vant-icon', 'custom-password' !important;*/
/*}*/

.van-icon-password:before {
    content: '\e65c';
}

/*.van-icon-password {*/
/*margin-top: -2px;*/
/*}*/

/*自定义字体文件（财富）*/

@font-face {
    font-family: 'custom-money';
    src: url('../../fonts/custom/money/iconfont.ttf') format('truetype');
}

/*.van-icon {*/
    /*font-family: 'vant-icon', 'custom-money' !important;*/
/*}*/

.van-icon-money:before {
    content: '\e625';
}

/*自定义字体文件(商城用户中心模块)*/
@font-face {
    font-family: 'custom-userCenter';
    src: url('../../fonts/custom/shopMallUserCenter/iconfont.ttf') format('truetype');
}
/*悬赏*/
.van-icon-reward:before {
    content: '\e609';
}

/*收藏*/
.van-icon-collection:before {
    content: '\e702';
}

/*关注店铺*/
.van-icon-follow:before {
    content: '\e623';
}

/*足迹*/
.van-icon-footPointer:before {
    content: '\e78d';
}

/*卡券*/
.van-icon-coupon:before {
    content: '\e737';
}

/*待付款*/
.van-icon-needPay:before {
    content: '\e633';
}

/*待发货*/
.van-icon-waitShip:before {
    content: '\e6ff';
}

/*待收货*/
.van-icon-waitGet:before {
    content: '\e626';
}

/*待评价*/
.van-icon-waitJudge:before {
    content: '\e659';
}

/*售后*/
.van-icon-afterSale:before {
    content: '\e66c';
}

/*自定义字体文件(售后模块)*/
@font-face {
    font-family: 'custom-afterSale';
    src: url('../../fonts/custom/afterSale/iconfont.ttf') format('truetype');
}
/*退货退款图标*/
.van-icon-refundAndGoods:before {
    content: '\e807';
}